@model IEnumerable<LMS.Models.User>
@{
    ViewBag.Title = "FriendsView";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        @using (Html.BeginForm("FriendsView", "User", FormMethod.Get))
        {
            @Html.TextBox("search")
            <input type="submit" name="submit" value="search" />


        }
        <table class="table table-striped custab">
            <tr>
                <th>Name </th>
            </tr>
            <tr></tr>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.name</td>
                    <td>@Html.ActionLink("Add", "SendFriendRequest", "User", new { name = d.name }, null)</td>
                </tr>
            }

        </table>
    </div>

    <div class="col-sm-6">
        <table class="table table-striped custab">
            <tr>
                <th>Name </th>
            </tr>
            @foreach (var user in ViewBag.Friends)
            {
                <tr>
                    <td>@user.name</td>
                </tr>

            }

        </table>
    </div>
    <div class="col-sm-3">
        <table class="table table-striped custab">
            <tr>
                <th>Friend Requests </th>
            </tr>
            <tr></tr>
            @foreach (var d in ViewBag.Requests)
            {
                <tr>
                    <td>@d.name</td>
                    <td>@Html.ActionLink("Add", "AddFriend", "User", new { id = d.ID  }, null)</td>
                </tr>
            }
        </table>
    </div>
</div> 


