<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    @RenderSection("Styles", false)
</head>
<body>
    <div class="wrapper">

        <div id="container">
            @if (@Session["Type"].ToString() != "User")
            {
                @Html.Partial("_AdminSidebar")
            }
            else
            {
                @Html.Partial("_UserSidebar")
            }

            <div id="main">
                @RenderBody()

            </div>
        </div>
    </div>

    
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Header.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Sidebar.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/Sidebar.js"></script>
    <script src="~/Scripts/Header.js"></script>
    <script>
        $(function(){
            $("#search").keyup(function () {
                $("#btnSearch").click();
            });
        });
    </script>
</body>
</html>