<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href=" ~ /Content/CSS/BooksView.css">
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <img id="logo" src="/Content/Pictures/Books-Icon.png" />
        <label id="label">Library Managment System</label>
        @if (@Session["UserName"] != null)
        {
            <label id="user">Welcome @Session["UserName"].ToString()</label>
        }

    </header>
    <div id="container">
        <div id="sidebar">
            @using (Html.BeginForm("BooksView", "View", FormMethod.Get))
            {
                <input class="sbtn " type="submit" value="Books" />
            }
            @using (Html.BeginForm("ProfileView", "View", FormMethod.Get))
            {
                <input class="sbtn " type="submit" value="Profile" />
            }
            
            @using (Html.BeginForm("Logout", "Home"))
            {
                <input type="submit" value="Logout" class="sbtn" />
            }
        </div>


        <div id="main">
            @RenderBody()

        </div>
    </div>

</body>
</html>
