@model LMS.Models.User
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_SignLayout.cshtml";
}


<div id="information">
    @using (Html.BeginForm("Signup", "Home", FormMethod.Post))
    {
        @Html.LabelFor(a => a.name)
        @Html.TextBoxFor(a => a.name)
        <br />
        @Html.LabelFor(a => a.password)
        @Html.PasswordFor(a => a.password)
        <br />
        @Html.LabelFor(a => a.email)
        @Html.TextBoxFor(a => a.email)
        <br />
        @Html.LabelFor(a=>a.age)
        @Html.TextBoxFor(a=>a.age)
        <br />
        @Html.LabelFor(a => a.type)
        @Html.TextBoxFor(a => a.type)

        <input type="submit" value="Register" />
    }
</div>