@model LMS.Models.Book
@{
    ViewBag.Title = "AddBook";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Content/CSS/BooksView.css")" rel="stylesheet" type="text/css" />
}
<div id="data">
    @using (Html.BeginForm("AddBook", "Book", FormMethod.Post))
    {
        @Html.LabelFor(a => a.title)
        @Html.TextBoxFor(a => a.title)
        <br />
        @Html.LabelFor(a => a.ISBN)
        @Html.TextBoxFor(a => a.ISBN)
        <br />
        <input type="submit" value="Add Book" />
    }
</div>


