@model LMS.Models.Book
@{
    ViewBag.Title = "AddBook";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

@using (Html.BeginForm("AddBook", "Book", FormMethod.Post))
{
    <table class="table table-striped custab">
        <thead>
            <tr>
                <th>@LMS.Content.Languages.Lang_resource.Title</th>
                <th>@LMS.Content.Languages.Lang_resource.ISBN</th>
                <th>@LMS.Content.Languages.Lang_resource.NumberOfCopies</th>
                <th>@LMS.Content.Languages.Lang_resource.AvailableCopies</th>
            </tr>
        </thead>
        <tr>
            <td>@Html.TextBoxFor(a => a.title)</td>
            <td>@Html.TextBoxFor(a => a.ISBN)</td>
            <td>@Html.TextBoxFor(a=>a.num_copies)</td>
            <td>@Html.TextBoxFor(a => a.available_copies)</td>
            
        </tr>
    </table>
    @Html.LabelFor(a=>a.details)
    @Html.TextAreaFor(a=>a.details)
    <input type="submit" value="Add Book" />

}


