@{
    ViewBag.Title = "BooksView";

    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<div class="row col-md-6 col-md-offset-2 custyle" dir="@LMS.Content.Languages.Lang_resource.dir">
    <table class="table table-striped custab">
        <thead>
            <tr>
                <th>@LMS.Content.Languages.Lang_resource.Title</th>
                <th>@LMS.Content.Languages.Lang_resource.ISBN</th>
            </tr>
        </thead>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.title</td>
                <td>@d.ISBN</td>
                <td class="text-center"><span class="glyphicon glyphicon-edit"></span>@Html.ActionLink(@LMS.Content.Languages.Lang_resource.Edit, "EditBook", "Book", new { id = d.ID }, null)
                <span class="glyphicon glyphicon-remove"></span>@Html.ActionLink(@LMS.Content.Languages.Lang_resource.Delete, "RemoveBook", "Book", new { id = d.ID }, null)</td>

            </tr>

        }
    </table>
</div>


