@{
    ViewBag.Title = "BooksView";

    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>ISBN</th>
            </tr>
        </thead>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.ID</td>
                <td>@d.title</td>
                <td>@d.ISBN</td>
                <td class="text-center"><span class="glyphicon glyphicon-edit"></span>@Html.ActionLink("Edit", "EditBook", "Book", new { id = d.ID }, null)
                <span class="glyphicon glyphicon-remove"></span>@Html.ActionLink("Delete", "RemoveBook", "Book", new { id = d.ID }, null)</td>

            </tr>

        }
    </table>
</div>


